@media (max-width: 1300px) {
    #Registration .box{
        width: 290px;
    }
    #Registration .box .reset{
        top: 0;
        right: 0;
    }
    #Filtration .input{
        width: 250px;
    }
    #Filtration table{
        min-width: max-content;
    }
    .modal .box{
        width: 300px;
    }
}

@media (min-width: 371px) and (max-width: 1300px) {
    .modal .box{
        width: 330px;
    }
}

@media (min-width: 577px) and (max-width: 1300px) {
    #Registration .box{
        width: 350px;
    }
    #Registration .box .reset{
        top: 20px;
        right: 5px;
    }
    #Filtration .input{
        width: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1300px) {
    #Registration .box{
        width: 400px;
    }
    #Registration .box .reset{
        top: 20px;
        right: 10px;
    }
    .modal .box{
        width: 400px;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    #Registration .box{
        width: 500px;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {
    .modal .box{
        width: 450px;
    }
}